{% extends 'base.html' %}


{% block content %}
<span class="title">
        <h1>{% block title %} {{ author.firstname }} {{ author.lastname }}{% endblock %}</h1>
    </span>
    <div class="content">
            <div class="author">
                <p><b>#{{ author.id }}</b></p>
                <b>
                    <p> class="name">{{ author.firstname }} {{ author.lastname }}</p>
                </b>
                <p>{{ author.email }}</p>
                <p>Joined: {{ author.created_at }}</p>
            </div>
    </div>
{% endblock %}